body{
  background-color: #00AAFF;
}

h1{
  text-align: center;
}

#contenedor {
  margin: 0 auto;
  width: 1000px;
  height: 400px;
}


.circulo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #F4FF43;
  float: left;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 200px;
  margin: 20px;
}


#circuloB{
  background: black;
  color: white;
}

#circuloW{
  background: white;
}
